<%- include("partial/header") -%>
<div class="container">
  <h2 class="title-h2 text-center mt-3 mb-3">Cart Items</h2>
 
  <% if(products) { %>
    <div class="cartbtn mb-5">
<h2 style="vertical-align: middle ; font-size : 25px;  font-weight: 900;">total : ₹ <%= totalPrice %>.00</h2>

<a href="/payment" class="btn btn-warning" style="vertical-align: middle ;  font-weight: 900;"> Proceed to checkout</a>
    </div>
     

          
    <table class="table mt-5">
  <thead class="thead-dark">
    <tr>
      
      <th class="text-center" scope="col">product</th>
      <th class="text-center" scope="col">Product Name</th>
      <th class="text-center" scope="col">Qty</th>
      <th class="text-center" scope="col">price (₹)</th>
    </tr>
  </thead>
  
  <tbody>
    <% products.forEach(element => { %>
    <tr>
      <th scope="row"><img src="/imgs/<%= element.item.productImage %>" class="mx-auto d-block" style="border-radius: 15px;" width="120px" height="80px" alt=""></th>
      <td class="text-center mx-auto my-auto" style="vertical-align: middle; font-size : 25px; font-weight: 900;"><%= element.item.productName %></td>
      <td class="text-center" style="vertical-align: middle ; font-size : 25px;  font-weight: 900;"><%= element.qty %> <%= element.item.qtytype %></td>
      <td class="text-center" style="vertical-align: middle ; font-size : 25px; font-weight: 900;"><%= element.price %></td>
    </tr>
    <% }); %>
  </tbody>
   
</table>





  <% } %>

  <% if(!products) { %>

    <div class="container">
      <h1>No items...</h1>
    </div>



    <% } %>
        </div>
</section>
<%- include("partial/footer") -%>
